.tab{
    background-color: #f0f2f5;
    border-bottom: 2px solid black;
    cursor: pointer;
    padding: 15px 0 15px 20px;
    transition: 0.5s;
}
.tab:hover{
    cursor: pointer;
    transition: 0.5s;
}
.tab-active{
    background-color: #bfbfbf;
}
.tab__title{
    font-weight: bold;
    font-size: 20px;
}
.tab__info{
    font-size: 16px;
    color: #595959;
    margin: 0;
    padding: 0;
}