body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.workspace__header{
    background-color: #f4f4f4;
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    justify-content: space-around;
}
.note-date{
    text-align: center;
    padding: 10px 0;
    margin: 0;
    font-size: 18px;
}
.note-title{
    text-align: center;
    font-size: 30px;
}